body {
  background: url("../img/dark_embroidery.png");
  font-family: 'Lora', serif;
}

div {
  width: 70%;
}

.editable {
  border: 2px solid black;
  background-color: white;
}

.editable p {
  color: red;
  font-size: 1.1em;
}

.editable h1 {
  color: red;
  font-size: 2.1em;
}

p {
  color: #E0E0EB;
  font-size: 1em;
  font-weight: 300;
}

h1 {
  color: #E0E0EB;
  font-size: 2em;
  font-weight: 700;
}
